section.articles#articles
  .flex.flex--center

    .col-50
      .article-wrap
        ol 
          li: a(href="#li1") List-item-1       
          li: a(href="#li1") List-item-2
          li: a(href="#li1") List-item-3 

    .col-50.flex.flex--center <!--.order-first-->
      .col-1
        .desc-wrap
          p.home-lead.outdented ...Writing and designing articles...
          a(href="/articles").home-cta See All Articles